@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 350px;
    height: 85px;
    background: #398cc0;
    border-radius: 20px;
    filter: drop-shadow(-20px 20px 40px #398cc055);
    transition: 0.5s;
}

.card.active {
    height: 420px;
}

.toggle {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 60px;
    background: #398cc0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    left: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px #398cc0;
}

.toggle::after {
    content: '';
    position: absolute;
    right: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px #398cc0;
}

.toggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(405deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: 0.5s;
}

.card.active .toggle span {
    transform: translate(-50%, -70%) rotate(225deg);
}

.contentBx {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.contentBx .content {
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx .content h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05;
}